<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dysen.lib">


    <application
        android:name="com.dysen.baselib.base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.dysen.baselib.ui.camerax.CameraxActy"
            android:theme="@style/FullScreenTheme"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".widgets.JProgressViewActy" />
        <activity android:name="com.dysen.baselib.ui.room_test.RoomTestActy" />
        <activity
            android:name=".banner.WelcomeActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dysen.baselib.ui.country_code.CountryActivity" />
        <activity android:name="com.dysen.baselib.ui.scan.CustomScanActivity" />
        <activity android:name=".coil_test.CoilTestActivity" />
        <activity android:name="com.dysen.baselib.ui.image_paper.BigImagePagerActivity" />
    </application>

</manifest>